h1{
text-align:center;
}
body{
background: linear-gradient(to bottom right, purple, pink);
}
div{
text-align:center;
}
div1{
text-align:center;
}
div2{
text-align:center;
height: 150px;
}
#button1{
position:relative;
left:92%;
}
#sauv{
position:relative;
left:41%;
}
caption {
padding: 10px;
}
table
{
position:relative;
left:45%;
border-collapse: collapse;
caption-side: top;
}
td, th
{
border: 1px solid black;
padding: 10px;
}
